{ config, pkgs, ... }:

let
  system = {{ if eq .chezmoi.os "darwin" }}"aarch64-darwin"{{ else }}"x86_64-linux"{{ end }};
in
{
  home.username = "{{ .chezmoi.username }}";
  home.homeDirectory = "{{ .chezmoi.homeDir }}";

  home.stateVersion = "24.05";

  home.packages = with pkgs; [
    bat
    chezmoi
    direnv
    fd
    fzf
    glow
    jq
    lsd
    neovim
    ripgrep
    starship
    yazi
  ];

  programs.home-manager.enable = true;
}
