export EDITOR=nvim
export CLICOLOR=1

{{ if eq .chezmoi.os "darwin" }}
alias ffsearch="/Applications/Firefox.app/Contents/MacOS/firefox -new-tab --search"
export CLIPBOARD_CLI=pbcopy
BREW_PATH=/opt/homebrew
{{ else if eq .chezmoi.os "linux" }}
export CLIPBOARD_CLI=xclip
BREW_PATH=/home/linuxbrew/.linuxbrew
{{ else }}
# other OS
{{ end }}

# Setup brew
if [ -d $BREW_PATH ]; then
    export BREW_PATH
    eval "$(${BREW_PATH}/bin/brew shellenv)"
fi

# Setup direnv
if [ -f "$(which direnv)" ]; then
  eval "$(direnv hook zsh)"
fi

if [ -d ~/.cargo/bin ]; then
  export PATH=~/.cargo/bin:$PATH
fi

if [ -d $HOME/.local/bin ]; then
  export PATH=$HOME/.local/bin:$PATH
fi


# Setup fzf
alias fzf="fzf --preview 'bat --style=numbers --color=always --line-range :500 {}'"
export FZF_DEFAULT_OPTS=" \
--color=bg+:#414559,bg:#303446,spinner:#f2d5cf,hl:#e78284 \
--color=fg:#c6d0f5,header:#e78284,info:#ca9ee6,pointer:#f2d5cf \
--color=marker:#babbf1,fg+:#c6d0f5,prompt:#ca9ee6,hl+:#e78284 \
--color=selected-bg:#51576d \
--multi"
export FZF_DEFAULT_COMMAND="fd  --type f --exclude .git --ignore-file .gitignore"
export FZF_CTRL_T_COMMAND=$FZF_DEFAULT_COMMAND

if [ -f "$(which lsd)" ]; then
  alias ls='lsd --icon=always'
  alias ll='lsd -l --icon=always'
  alias la='lsd -a --icon=always'
  alias lt='lsd --tree --icon=always --depth=4'
else
  # fallback to default ls
  alias ls='ls --color=auto'
  alias ll='ll -l'
  alias la='ls -a'
fi

alias cat=bat
alias bat=batcat

alias gitup='git pull --all ; git fetch ; git fetch -p ; git fetch --prune --prune-tags'
alias cw='echo CW$(curl -s http://worldtimeapi.org/api/timezone/Europe/Berlin | jq -M .week_number)'

alias vim=nvim
alias vi=nvim
