export CLICOLOR=1

PLAN9=$HOME/plan9
export PLAN9

PATH=$PATH:$PLAN9/bin:$PLAN9/acme/bin:/Users/charemma/projects/tmux-cssh:$HOME/go/bin:$HOME/bin
export PATH

PATH=/opt/homebrew/bin/:/Users/charemma/work/aitool/:$PATH
export PATH

PATH=~/.cargo/bin:$PATH
export PATH

export EDITOR=nvim
{{ if eq .chezmoi.os "darwin" }}
alias ffsearch="/Applications/Firefox.app/Contents/MacOS/firefox -new-tab --search"
export CLIPBOARD_CLI=pbcopy
export BREW_PATH=/opt/homebrew
{{ else if eq .chezmoi.os "linux" }}
export CLIPBOARD_CLI=xclip
export BREW_PATH=/home/linuxbrew/.linuxbrew
{{ else }}
# other OS
{{ end }}

eval "$(${BREW_PATH}/bin/brew shellenv)"

alias wn="echo wn$(curl -s http://worldtimeapi.org/api/timezone/Europe/Berlin | jq -M .week_number)"

alias cat=bat
alias t="todo.sh"
alias gitup='git pull --all ; git fetch ; git fetch -p ; git fetch --prune --prune-tags'

alias fzf="fzf --preview 'bat --style=numbers --color=always --line-range :500 {}'"
export FZF_DEFAULT_OPTS=" \
--color=bg+:#414559,bg:#303446,spinner:#f2d5cf,hl:#e78284 \
--color=fg:#c6d0f5,header:#e78284,info:#ca9ee6,pointer:#f2d5cf \
--color=marker:#babbf1,fg+:#c6d0f5,prompt:#ca9ee6,hl+:#e78284 \
--color=selected-bg:#51576d \
--multi"
export FZF_DEFAULT_COMMAND="fd  --type f --exclude .git --ignore-file .gitignore"
export FZF_CTRL_T_COMMAND=$FZF_DEFAULT_COMMAND

alias vim=nvim
alias vi=nvim

export OPENAI_API_KEY=""

alias ls='lsd --icon=never'
alias l='ls -l'
alias la='ls -a'
alias lla='ls -la'
alias lt='ls --tree --icon=auto --depth=4'
